@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");

body {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* border: 1px solid red; */
  width: 10px;
  margin-left: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 680px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown:hover .dropbtn {
  background-color: #3e8e41;
} */

.navigation-section {
  height: 100vh;
  width: 100px;
  background-color: #1f2f3e;
  position: fixed;
}

ul {
  list-style-type: none;
  width: 100%;
  margin-left: -40px;
}

ul li img {
  height: 40px;
  width: 40px;
}

ul li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75.5px;
}

ul li {
  border-bottom: 1px solid grey;
}

.main-section {
  margin-left: 100px;
  /* margin-right: 20px; */
  width: 1265px;
  height: 1750px;
  /* border: 1px solid red; */
  background-color: #f6f6f6;
}

.top-section {
  height: 93px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-section {
  height: 80px;
  width: 500px;
  margin-left: 20px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

.menu-section span {
  font-size: 30px;
  background-color: #f6f6f6;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.search-container {
  position: relative;
}

#search-input {
  padding-left: 30px;
  height: 40px;
  width: 350px;
  margin-left: 15px;
  border: none;
  background-color: #f6f6f6;
  border-radius: 5px;
}

#search-icon {
  position: absolute;
  top: 50%;
  left: 370px;
  color: grey;
  font-size: 20px;
  transform: translateY(-50%);
}

.profile-section {
  height: 20px;
  width: 480px;
  /* border: 1px solid red; */
  margin-right: 20px;
  display: flex;
  align-items: center;
  /* font-size: 30px; */
}

.profile-section span {
  font-size: 25px;
  padding: 10px;
  color: gray;
  /* border-right: 1px solid lightgrey; */
  /* font-weight: light; */
}

.vertical-rule {
  height: 20px;
  /* background-color: lightgrey; */
  border: 1px solid lightgrey;
}

.profile-section img {
  height: 30px;
  width: 30px;
  padding: 10px;
}

.main-profile-card h5 {
  margin-top: 17px;
  font-size: 16px;
  color: black;
}

.main-profile-card a {
  text-decoration: none;
}

.main-profile-card  p {
  margin-top: -30px;
  font-size: 12px;
  color: black;
}

.main-profile-image {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  /* margin-top: 3px; */
  /* border: 1px solid red; */
}

.profile-section ul {
  list-style-type: none;
}

.bottom-section h3 {
  margin-left: 20px;
  /* height: 3000px; */
}

.first-cards {
  display: flex;
  /* justify-content: space-between; */
  width: 1223px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 20px;
}

.first-card {
  height: 150px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
}

.first-card:last-child {
  margin-left: 20px;
}

.first-card-left {
  width: 200px;
  height: 100%;
  /* border: 1px solid red; */
}

.first-card-left p {
  display: flex;
  text-align: center;
  margin-top: -5px;
}

.first-card-left p:nth-child(2) {
  margin-left: 20px;
  font-size: 25px;
}

.first-card-left p:nth-child(3) {
  margin-top: -40px;
}

.first-card-left p:nth-child(3) span:first-child {
  color: red;
  background-color: inherit;
  margin-top: 16px;
}

.first-card-left p:nth-child(3) span:last-child {
  color: red;
  font-size: 13px;
  margin-left: -3px;
}

.first-card-left span:first-child {
  font-size: 35px;
  margin: 20px 0 0 20px;
  height: auto;
  width: auto;
  border-radius: 50%;
  color: #35bfbf;
  font-weight: bold;
  background-color: #e6f7f7;
}

.first-card-left span:last-child {
  font-size: 17px;
  font-weight: bold;
  margin: 25px 0 0 10px;
}

.first-card-right {
  width: 200px;
  height: 100%;
  /* border: 1px solid red; */
}

.first-card-right img {
  height: 90%;
  width: 180px;
}

.second-cards {
  height: 420px;
  width: 1233px;
  /* background-color: green; */
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}

.second-card1-bottom {
  display: flex;
  flex-direction: column;
}
.second-card1-bottom a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.second-card1 {
  height: 390px;
  width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
}

.second-card2 {
  height: 420px;
  width: 250px;
  margin-left: 20px;
}

.second-card-top {
  height: 130px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: -200px;
  background-color: #ffffff;
  border-bottom: 4px solid #33bfbf;
}


.second-card-top a {
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

.second-card-bottom {
  height: 200px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
  /* border-bottom: 2px solid #33bfbf; */
}

.second-card3 {
  height: 320px;
  width: 237px;
  margin-left: 15px;
  background-color: #ffffff;
  border-radius: 10px;
}

.second-card1-top {
  display: flex;
  justify-content: space-between;
}

.second-card1-top form {
  margin-right: 20px;
  margin-top: 20px;
}

.second-card1-top form label {
  font-size: 15px;
}

.second-card1-top form input {
  border-radius: 5px;
  height: 25px;
  border-color: lightgrey;
}

table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px auto;
}

th,
td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  height: 35px;
  text-align: center;
  /* text-align: left; */
}

th {
  color: #908989;
  text-align: center;
  font-size: 14px;
}

.second-card-top button {
  height: 40px;
  width: 100px;
  color: #33bfbf;
  border: none;
  border-radius: 10px;
  margin: 0 0 0 20px;
  font-weight: bold;
  background-color: #e5f7f7;
}

.second-card-top span {
  font-size: 12px;
  /* border: 1px solid red; */
  margin-left: 5px;
  font-size: 12px;
  text-align: center;
  color: grey;
}

.profile-images {
  height: 30px;
  margin-left: 20px;
  width: 180px;
  /* border: 1px solid red; */
  display: flex;
}

.profile-images img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-images img:nth-child(2) {
  margin-left: -7px;
}

.profile-images img:nth-child(3) {
  margin-left: -7px;
}

.profile-images img:nth-child(4) {
  margin-left: -7px;
}

.profile-images img:nth-child(5) {
  margin-left: -7px;
}

.profile-images file {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #33bfbf;
  margin-left: -7px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invoice-card

.product-mini-card {
  height: 130px;
  width: 200px;
  margin-left: 25px;
  background-color: #e6f7f7;
  display: flex;
}

.product-mini-card img {
  height: 80px;
  width: 80px;
  margin-top: 25px;
}

.product-mini-card p:first-child {
  margin-right: 12px;
  font-weight: bold;
  font-size: 14px;
}

.product-mini-card p:last-child {
  margin-right: 12px;
  margin-top: -10px;
  font-size: 13px;
}

.second-card3 h3 {
  margin-top: 20px;
}

.styled-table {
  font-size: 13px;
  font-weight: 500;
  width: 90%;
  margin-top: -15px;
}

.styled-head {
  border-bottom: 1px solid lightgrey;
  text-align: left;
}

.styled-data {
  border: none;
  text-align: left;
}

.third-cards {
  height: 500px;
  margin-right: 10px;
  width: 1223px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* border: 1px solid black; */
}

.third-card-map {
  height: 450px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
}

.east-africa {
  height: 140px;
  width: 360px;
  /* border: 1px solid red; */
  margin-left: 12px;
}

.east-africa-top,
.east-africa-bottom {
  display: flex;
}

.kenya,
.uganda,
.tanzania,
.somalia {
  height: 60px;
  width: 200px;
  display: flex;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.kenya {
  background-color: #e6f7f7;
}

.kenya img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 10px;
  object-fit: cover;
}

.kenya span {
  margin-left: 10px;
  margin-top: -7px;
}

.kenya span p {
  margin-top: -20px;
  font-size: 13px;
  color: grey;
  margin-left: 15px;
}

.uganda {
  background-color: #ffecea;
}

.uganda img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 10px;
  object-fit: cover;
}

.uganda span {
  margin-left: 10px;
  margin-top: -7px;
}

.uganda span p {
  margin-top: -20px;
  font-size: 13px;
  color: grey;
  margin-left: 15px;
}

.tanzania {
  background-color: #e3e4e5;
}

.tanzania img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 10px;
  object-fit: cover;
}

.tanzania span {
  margin-left: 10px;
  margin-top: -7px;
}

.tanzania span p {
  margin-top: -20px;
  font-size: 13px;
  color: grey;
  margin-left: 15px;
}

.somalia {
  background-color: #fef5e9;
}

.somalia img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 10px;
  object-fit: cover;
}

.somalia span {
  margin-left: 10px;
  margin-top: -7px;
}

.somalia span p {
  margin-top: -20px;
  font-size: 13px;
  color: grey;
  margin-left: 15px;
}

#dot {
  color: inherit;
  font-weight: bold;
  font-size: 15px;
  margin-right: 5px;
  margin-left: -5px;
}

.east-africa-map {
  width: 400px; /* Adjust container width as needed */
  overflow: hidden;
  position: relative;
}

#slider-images {
  height: 400px;
  width: 400px;
  /* margin-left: -55px; */
  margin-top: 20px;
  /* border: 1px solid red; */
  /* transform: rotate(19deg) scale(1.7) skew(149deg) translate(-6px, 1px);
  -webkit-transform: rotate(19deg) skew(149deg) translate(-6px, 1px);
  -moz-transform: rotate(19deg) skew(149deg) translate(-6px, 1px); */
}

.slider-image {
  width: 200px;
  object-fit: cover;
  height: auto;
}

.third-card-activities {
  height: 470px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 10px;
}

.third-card-activities p {
  margin-top: -20px;
  font-size: 12px;
  margin-left: 20px;
}

.event1 {
  height: 80px;
  width: 380px;
  display: flex;
  /* border: 1px solid red; */
  /* border-bottom: 1px solid lightgrey; */
  margin-left: 10px;
  margin-top: 20px;
}

.event1 img {
  height: 80px;
  width: 100px;
  object-fit: contain;
}

.event1 span text {
  font-size: 13px;
  margin-left: 10px;
  color: #33bfbf;
}

.event1 span text span {
  font-size: 13px;
  color: black;
  margin-left: 2px;
}

.event1 span h4 {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 15px;
}

.event1 span p {
  font-size: 12px;
  margin-top: -20px;
  margin-left: 10px;
}

.event2 {
  height: 80px;
  width: 380px;
  display: flex;
  /* border: 1px solid red; */
  /* border-bottom: 1px solid lightgrey; */
  margin-left: 10px;
  margin-top: 20px;
}

.event2 img {
  height: 80px;
  width: 100px;
  object-fit: contain;
}

.event2 span text {
  font-size: 13px;
  margin-left: 10px;
  color: #33bfbf;
}

.event2 span text span {
  font-size: 13px;
  color: black;
  margin-left: 2px;
}

.event2 span h4 {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 15px;
}

.event2 span p {
  font-size: 12px;
  margin-top: -20px;
  margin-left: 10px;
}

.third-card-expenses {
  height: 500px;
  width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 70px;
}

.single-third-card {
  width: 80%;
  margin-left: 10%;
  border-radius: 10px;
  background-color: #e6f7f7;
  display: flex;
  margin-top: 10px;
}


.third-card-expenses img {
  height: 80px;
  width: 80px;
  margin: auto 0;
}

.third-card-expenses span {
  margin-bottom: 7px;
}

.forth-cards {
  height: 450px;
  margin-right: 10px;
  width: 1223px;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.forth-cards table th {
  text-align: left;
}

.forth-cards table td {
  text-align: left;
}

.forth-cards table td:last-child {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #25D366;
}

.forth-cards table td:last-child span:last-child {
  font-size: 16px;
}

.forth-cards table tr:hover {
  background-color: #f1f1f1;
}

.invoice-card {
  height: 400px;
  width: 750px;
  background-color: #ffffff;
  border-radius: 10px;
}

.invoice-card-top {
  display: flex;
  justify-content: space-between;
}

.invoice-card-top form {
  margin-top: 20px;
  margin-right: 20px;
}

.invoice-card-top form input {
  border-radius: 5px;
  height: 20px;
  border-color: lightgrey;
}

.invoice-table {
  width: 95%;
  font-size: 14px;
  /* margin-left: 60px; */
  /* border: 1px solid red; */
}

.invoice-data {
  height: 30px;
  color: grey;
}

.invoice-data img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.invoice-data:last-child {
  color: black;
}

td:hover {
  color: #33bfbf;
}

.extra-card {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
}
