.main-messages {
    height: 490px;
    width: 90%;
    margin: 10px 0 0 5%;
    /* border: 1px solid red; */
    display: flex;

}

.message-input {
    height: 400px;
    width: 300px;
    /* border: 1px solid red; */
}

.message-display {
    height: 400px;
    width: 700px;
    /* border: 1px solid red; */
}

body {
    height: fit-content;
}